<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<a href="/home">
    <button>
        sign using Google!
    </button>
</a>


<a href="#">
    <button>
        sign using Twitter!
    </button>
</a>


<a href="#">
    <button>
        sign using GitHub!
    </button>
</a>





</body>
</html>