<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER PROFILE</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>


<H1 th:text="${email_verified}"></H1>
<H1 th:text="${given_name}"></H1>
<H1 th:text="${picture}"></H1>
<H1 th:text="${name}"></H1>
<H1 th:text="${exp}"></H1>
<H1 th:text="${family_name}"></H1>
<H1 th:text="${email}"></H1>




</body>
</html>