<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER PROFILE</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>




<!--  DEBUG   -->
<!--<H1 th:text="${given_name}"></H1>-->
<!--<H1 th:text="${name}"></H1>-->
<!--<H1 th:text="${family_name}"></H1>-->
<!--<H1 th:text="${email}"></H1>-->
<!--<H1 th:text="${picture}"></H1>-->





<!--BOOTSTRAP CARD-->
<div class="card" style="width: 18rem;">
    <img class="card-img-top" th:src="${picture}" alt="No Image Found">
    <div class="card-body">
        <h5 class="card-title" th:text="${name}"></h5>
        <p class="card-text" th:text="${email}"></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>






</body>
</html>